In [3]:
import sqlite3
import pandas as pd
import os

# Create folder and database
db_path = 'task/chinook.db'
os.makedirs('task', exist_ok=True)

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Create tables
cursor.executescript('''
DROP TABLE IF EXISTS Customer;
DROP TABLE IF EXISTS Invoice;

CREATE TABLE Customer (
    CustomerId INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT
);

CREATE TABLE Invoice (
    InvoiceId INTEGER PRIMARY KEY,
    CustomerId INTEGER,
    Total REAL,
    FOREIGN KEY (CustomerId) REFERENCES Customer(CustomerId)
);
''')

# Insert mock data
customers = [
    (1, 'Alice', 'Smith'),
    (2, 'Bob', 'Johnson'),
    (3, 'Charlie', 'Lee'),
    (4, 'David', 'Brown'),
    (5, 'Eve', 'Davis')
]

invoices = [
    (1, 1, 100.0),
    (2, 1, 150.0),
    (3, 2, 200.0),
    (4, 3, 50.0),
    (5, 4, 300.0),
    (6, 5, 250.0),
    (7, 5, 100.0)
]

cursor.executemany("INSERT INTO Customer (CustomerId, FirstName, LastName) VALUES (?, ?, ?)", customers)
cursor.executemany("INSERT INTO Invoice (InvoiceId, CustomerId, Total) VALUES (?, ?, ?)", invoices)
conn.commit()

# Query total spending by each customer
query = """
SELECT 
    c.CustomerId,
    c.FirstName || ' ' || c.LastName AS FullName,
    SUM(i.Total) AS TotalSpent
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId
"""

customer_spending = pd.read_sql_query(query, conn)

# Show top 5 customers
top_customers = customer_spending.sort_values(by='TotalSpent', ascending=False).head(5)
print("✅ Top 5 customers by total purchase amount:\n", top_customers)

conn.close()

✅ Top 5 customers by total purchase amount:
    CustomerId     FullName  TotalSpent
4           5    Eve Davis       350.0
3           4  David Brown       300.0
0           1  Alice Smith       250.0
1           2  Bob Johnson       200.0
2           3  Charlie Lee        50.0

In [11]:
merged = invoice_items.merge(tracks, on='TrackId')

In [13]:
import sqlite3

conn = sqlite3.connect("your_database_file.db")  # Replace with correct path

# List all tables
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tables in the database:", tables)

Tables in the database: []

In [16]:
cursor = conn.cursor()
cursor.executescript('''
    DROP TABLE IF EXISTS Invoice;
    
    CREATE TABLE Invoice (
        InvoiceId INTEGER PRIMARY KEY,
        CustomerId INTEGER
    );
''')

# Insert mock data
cursor.executemany('''
    INSERT INTO Invoice (InvoiceId, CustomerId)
    VALUES (?, ?);
''', [
    (1, 1), (2, 2), (3, 1), (4, 3), (5, 2)
])

conn.commit()

In [17]:
import pandas as pd
invoices = pd.read_sql_query("SELECT InvoiceId, CustomerId FROM Invoice", conn)
print(invoices)

   InvoiceId  CustomerId
0          1           1
1          2           2
2          3           1
3          4           3
4          5           2

In [7]:
# Additional mock tables for track purchases analysis
cursor.executescript('''
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;
DROP TABLE IF EXISTS InvoiceLine;

CREATE TABLE Album (
    AlbumId INTEGER PRIMARY KEY,
    Title TEXT
);

CREATE TABLE Track (
    TrackId INTEGER PRIMARY KEY,
    Name TEXT,
    AlbumId INTEGER,
    FOREIGN KEY (AlbumId) REFERENCES Album(AlbumId)
);

CREATE TABLE InvoiceLine (
    InvoiceLineId INTEGER PRIMARY KEY,
    InvoiceId INTEGER,
    TrackId INTEGER,
    FOREIGN KEY (InvoiceId) REFERENCES Invoice(InvoiceId),
    FOREIGN KEY (TrackId) REFERENCES Track(TrackId)
);
''')

# Insert mock album and track data
albums = [(1, 'Album A'), (2, 'Album B')]
tracks = [
    (1, 'Track A1', 1),
    (2, 'Track A2', 1),
    (3, 'Track B1', 2),
    (4, 'Track B2', 2)
]

# Mock invoice lines where some customers bought individual tracks
invoice_lines = [
    (1, 1, 1),  # Customer 1 bought Track A1
    (2, 2, 1),  # Customer 1 bought Track A1 again
    (3, 3, 3),  # Customer 2 bought Track B1
    (4, 4, 3),  # Customer 3 bought Track B1
    (5, 5, 3),  # Customer 4 bought Track B1
    (6, 6, 4),  # Customer 5 bought Track B2 (but not the full album)
    (7, 7, 4),  # Customer 5 bought Track B2 again
]

cursor.executemany("INSERT INTO Album (AlbumId, Title) VALUES (?, ?)", albums)
cursor.executemany("INSERT INTO Track (TrackId, Name, AlbumId) VALUES (?, ?, ?)", tracks)
cursor.executemany("INSERT INTO InvoiceLine (InvoiceLineId, InvoiceId, TrackId) VALUES (?, ?, ?)", invoice_lines)
conn.commit()

In [6]:
import sqlite3

# Reconnect to the database
conn = sqlite3.connect('chinook.db')  # or whatever DB you're using
cursor = conn.cursor()

# Now you can safely run:
cursor.executescript('''
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;
DROP TABLE IF EXISTS InvoiceLine;

CREATE TABLE Album (
    AlbumId INTEGER PRIMARY KEY,
    Title TEXT
);

CREATE TABLE Track (
    TrackId INTEGER PRIMARY KEY,
    Name TEXT,
    AlbumId INTEGER,
    FOREIGN KEY (AlbumId) REFERENCES Album(AlbumId)
);

CREATE TABLE InvoiceLine (
    InvoiceLineId INTEGER PRIMARY KEY,
    InvoiceId INTEGER,
    TrackId INTEGER,
    FOREIGN KEY (InvoiceId) REFERENCES Invoice(InvoiceId),
    FOREIGN KEY (TrackId) REFERENCES Track(TrackId)
);
''')
conn.commit()